.about {
    background-color: whitesmoke;
    font-size: 1.3em;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  .profile {
    max-width: 23em;
  }
  
  .my-details {
    background-color: #ffffff;
background-image: linear-gradient(315deg, #ffffff 0%, #ebf0f5 74%);
  }

  .font-details{
      font-size: 5em;
      font-weight:450 ;
      color: #2d2d30f8 ;
  }