.logo {
  width: 25%;
}

.nav-theme {
  background-color: #101018f8;
  font-size: 18px;
}

.left1-panel{
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
}
.left2-panel{
  font-size: 21px;
  font-family: 'Orbitron', sans-serif;
  font-stretch: semi-expanded;
}

.animate-navbar {
  box-shadow: 1px 1px 1px #222;
  animation: moveDown 0.7s ease-in-out;
}

@keyframes moveDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
